fastapi==0.115.0
uvicorn==0.30.0
librosa==0.10.2
soundfile==0.12.1
python-multipart==0.0.9
numpy<2.0.0
pandas>=2.0.0
scikit-learn>=1.3.0
joblib>=1.3.0
huggingface-hub>=0.20.0
torch>=2.0.0
torchaudio>=2.0.0
speechbrain>=1.0.0
git+https://github.com/griko/voice-emotion-classification.git@1f606f6570679aefe79fec22673f7c713ca2bb9c
